---
layout: default
permalink: /about/
name: about
title: 企业简介
---
{% include header-about.html %}
            <div class="col-sm-6">
                <h3>熊虎山五金</h3>
                <p>佛山市顺德区熊虎山五金实业有限公司创立于1990年，座落于风景秀丽、经济发达的珠江三角洲腹地——佛山市顺德区国家级高新产业园（容桂），是一家集锁具、门用五金、家具五金、卫浴五金等系列产品为一体的专业化五金产品制造商。公司以品种丰富，配套齐全，全方位的满足家装、工装的系统需求而著称，是目前业内品种齐全、规模最大的五金产品制造企业之一。</p>
                <p>佛山市顺德区熊虎山五金实业有限公司始终坚持以“品质、服务、性价比三驾马车并驾齐驱”的思想作为品牌的运营指导方针。公司以国际化的视野导入现代专业的品牌管理模式，引进先进的生产技术和检测设备，确保以高标准来严格保证每一款熊虎山的产品质量；以雄厚的经济实力和优秀的人才作为基础，在五金行业建立起了一支具有竞争优势且经验丰富的专业营销和培训团队，并投入巨资进行市场拓展和品牌推广，保证熊虎山的市场占有份额持续增长；以高瞻远瞩的思维打造企业精益、高效的品牌形象，在优质的产品、完善的服务基础上，以高性价比确保熊虎山在市场上的迅速发展。</p>
                <p>“商道即人道 做事先做人”；展望未来，熊虎山人将一如既往，以高度的责任感、优质的服务意识全心全意服务广大朋友，与广大客商携手共创美好明天，共同打造业内一流品牌，树立百年企业基业。</p>
            </div>
{% include footer-about.html %}