---
layout: default
permalink: /history/
name: history
title: 企业历史
---
{% include header-about.html %}
            <div class="col-sm-6">
                <h3>熊虎山历史</h3>
                <p>1990年，熊虎山（原南方五金）湖南长沙西湖路159号拓地营业，开始创业历程。</p>
                <p>1995年-1999年期间，辗转伍家岭、三湘等建材市场，1999年，长沙总部定址为高桥建材市场9栋，实行仓储式一体化经营，该直营店经营至今。</p>
                <p>1999年-2006年期间，同时运营湘湖、马王推市场直营店，2004年正式变更营业执照，由个体户经营形式转向公司化运营。</p>
                <p>2006年，公司注册熊虎山第一代商标形象，开始品牌化操作，客户辐射至全湖南省114个县级市，成为地区政府重点扶持的湖南区域性品牌。</p>
                <p>2007底，公司营销总部入驻广州天健国际五金采购中心M栋，同年，我司工厂在佛山顺德容桂小黄圃工业园正式投入运营，开始由广东向全国市场客户辐射。</p> 
                <p>2008年，注册熊虎山第二代商标形象，并启用新VI进行全面宣传至今。</p>
                <p>2010年，搬迁至新厂房佛山市顺德区国家级高新产业园（容桂）华天西二路，集中全力打造工厂品牌。</p>
                <p>2011年，长沙在东岸建材市场增设新直营店，加强本地拓展优势。</p>
                <p>2013年，公司严格控制各项产品工艺流程，加强品质监管，完善产品结构，于当年5月份全面通过ISO9001企业管理质量体系认证。</p>
                <p>2014年，全新的企业网站及手机网站启用，熊虎山五金将翻开新的篇章。。。。。</p>
            </div>
{% include footer-about.html %}